@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

#viewport-frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-image: url('./quakejs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24em;
}

#viewport-frame:focus {
    outline: none;
}

#viewport {
    background: #000;
    width: 100%;
    height: 100%;
}

#viewport-frame:-moz-full-screen,
#viewport:-moz-full-screen {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#viewport-frame:-webkit-full-screen,
#viewport:-webkit-full-screen {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    background-color: #47a447;
    border-color: #398439;
}

#eula-frame {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

#eula-frame-inner {
    max-width: 940px;
    margin: 0 auto;
    padding: 5em 0;
    background: rgba(0, 0, 0, 0.9);
    color: #eee;
    font-size: 1.2em;
}

#eula-frame p {
    font-family: Roboto, "Droid Sans", "Google Sans Display", -apple-system, BlinkMacSystemFont, sans-serif, "Open Sans", Arial, Helvetica
}

#eula {
    color: #ccc;
    height: 25em;
    margin: 3em 0;
    overflow-y: scroll;
    white-space: pre-wrap;
}

#dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5em;
    margin-left: -12em;
    width: 24em;
    background: #2a2a2a;
}

#dialog .title {
    margin: 0;
    padding: 0.2em 0.5em;
    background: #333;
    color: #fff;
    font-family: Roboto, "Droid Sans", "Google Sans Display", -apple-system, BlinkMacSystemFont, sans-serif, "Open Sans", Arial, Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

#dialog .description {
    margin: 0;
    padding: 0.5em;
    color: #fff;
    font-family: Roboto, "Droid Sans", "Google Sans Display", -apple-system, BlinkMacSystemFont, sans-serif, "Open Sans", Arial, Helvetica;
}

#loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#loading-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -12em;
    padding: 0.4em;
    width: 24em;
    background: rgba(0, 0, 0, 0.7);
}

#loading-progress .description {
    text-align: center;
    color: #fff;
    font-family: Roboto, "Droid Sans", "Google Sans Display", -apple-system, BlinkMacSystemFont, sans-serif, "Open Sans", Arial, Helvetica;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
}

#loading-progress .bar-wrapper {
    background: #222;
    border-radius: 2px;
}

#loading-progress .bar {
    width: 0;
    background: #2dbb30;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
}